@model Aaron.Models.ViewModels.EditBookViewModel;

@{
	ViewData["Title"] = "Edit";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section Scripts {
<partial name="_ValidationScriptsPartial" />
<partial name="~/Views/AdminDashboard/Partials/_TomSelectScripts.cshtml" />
}

<div class="text-center mb-4">
	<h2>@Model.Title</h2>
	<h5 class="text-secondary">نویسنده: @Model.Author</h5>
</div>
<hr />

<form enctype="multipart/form-data" asp-action="Edit" method="post">
	@Html.AntiForgeryToken()

	<input type="hidden" asp-for="Id"/>
	<div class="row mb-3">
		<div class="col-md-6">
			<label asp-for="Title" class="form-label">عنوان کتاب</label>
			<input asp-for="Title" class="form-control" value="@Model.Title" placeholder="عنوان کتاب را بنویسید" />
			<span class="text-danger" asp-validation-for="Title"></span>
		</div>
		<div class="col-md-6">
			<label asp-for="AuthorId" class="form-label">نویسنده</label>
			<select asp-for="AuthorId" asp-items="ViewBag.Authors" class="form-select" multiple>
				<option value="@Model.Author"></option>
			</select>
			<span class="text-danger" asp-validation-for="AuthorId"></span>
		</div>
	</div>

	<div class="mb-3">
		<label asp-for="ImageFile" class="form-label">تصویر</label>
		<input type="file" asp-for="ImageFile" class="form-control"/>
		<span class="text-danger" asp-validation-for="ImageFile"></span>
	</div>

	@if (!string.IsNullOrWhiteSpace(Model.CoverImagePath))
	{
		<div class="mb-3">
			<img src="@Model.CoverImagePath" alt="تصویر فعلی" class="img-thumbnail" style="max-width: 200px;" />
		</div>
	}

	<div class="mb-3">
		<label asp-for="Summary" class="form-label">موضوع</label>
		<input asp-for="Summary" type="text" class="form-control" value="@Model.Summary" placeholder="خلاصه‌ای کوتاه از کتاب ..." />
		<span class="text-danger" asp-validation-for="Summary"></span>
	</div>

	<div class="mb-3">
		<label asp-for="Description" class="form-label">توضیحات</label>
		<textarea asp-for="Description" class="form-control" rows="5">@Model.Description</textarea>
		<span class="text-danger" asp-validation-for="Description"></span>
	</div>

	<div class="row mb-4">
		<div class="col-md-6">
			<label asp-for="CategoryId" class="form-label">دسته‌بندی</label>
			<select asp-for="CategoryId" asp-items="ViewBag.Categories" class="form-select" multiple>
				<option value="@Model.Category"></option>
			</select>
			<span class="text-danger" asp-validation-for="CategoryId"></span>
		</div>

		<div class="col-md-6">
			<label asp-for="SelectedTags" class="form-label">برچسب‌ها</label>
			<select asp-for="SelectedTags" asp-items="ViewBag.Tags" class="form-select" multiple></select>
			<span class="text-danger" asp-validation-for="SelectedTags"></span>
		</div>
	</div>

	<button type="submit" class="btn btn-primary">بروزرسانی</button>
</form>


